.commonbtn {
    font-size: 16px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background: #b20a0a !important;
    color: #fff !important;
    border-radius: 100px !important;
    width: auto;
    min-width: 280px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

@media (max-width: 767px) {
    .btncmn {
        text-align: center;
    }

    .commonbtn {
        width: 100%;
        min-width: unset;
        padding: 12px 20px;
        font-size: 15px;
        white-space: normal;
    }
}